body{
background-image: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXN0cm9ub215fGVufDB8fDB8fA%3D%3D&w=1000&q=80');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

