
body{
    margin: 0;
    padding: 0;
    background: rgb(253, 211, 211);
    font-family: sans-serif;
    color: black;
}
label{
    position: absolute;
    right: 20px;
    width: 50px;
    content: '';
    height: 24px;
    top: 50px;
    border-radius: 22px;
    border: 2px solid;
    cursor: pointer;
}
label.dark{
    border: 2px solid white;
}
body.dark1{
    background-color: rgb(27, 17, 17);
    color: white;
}
label::before{
    position: absolute;
    content: "";
    top: 0px;
    left: 1px;
    width: 24px;
    content: '';
    height: 24px;
    background: black;
    border-radius: 50%;
    transition: 0.5s;
}
label.dark::before{
    background: white;
    left: 24px;
}
h1{
    font-size: 7vh;
    text-align: center;
}
.card{
    margin-left:12.5%;
    margin-right:12.5%;
    width: 75%;
    background: rgba(0, 0, 0, 0.301);
    border: 3px solid rgba(0, 0, 0, 0.808);
    border-radius: 7px;
    transition: 0.5s;
    padding: 20px;
    display: inline-flex;
}
.card.dark2{
 background: rgba(255, 255, 255, 0.301);
 border: 3px solid rgba(255, 255, 255, 0.808);
}
.card:hover{
    transform: scale(1.02);
}
img{
    width: 30%;
    padding: 20px;
    height: 30%;
}
h2{
    color: red;
}
p{
    color: black;
}
p.dark3{
    color: white;
}