.container {
    background-color: rgb(195, 224, 222);
    width: 1000px;
    margin: auto;
    height: 1530px;
}

.container h1 {
    display: flex;
    color: rgb(63, 63, 145);
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.box {
    background-color: rgb(224, 228, 235);
    margin: 0px 115px;
    height: 1250px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(55, 55, 114);
    padding: 20px;
}

.para1 {
    display: flex;
    flex-direction: row;
    width: 640px;
    margin: auto;
    padding: 20px;
}

.para1 p {
    margin: 20px;
}

.para2 {
    display: flex;
    flex-direction: row;
    width: 640px;
    margin: auto;
    padding: 20px;
}

.para2 p {
    margin: 20px;
}

.para3 {
    display: flex;
    flex-direction: row;
    width: 640px;
    margin: auto;
    padding: 20px;
}

.para3 p {
    margin: 20px;
}

.para4 {
    margin-bottom: 20px;
}

.para4 ul {
    padding-left: 290px;
}

footer {
    display: flex;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(55, 55, 114);
    margin-bottom: 0px;
}

footer ul {
    display: flex;
    list-style: None;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    text-decoration: none;
}

footer ul li {
    padding: 20px;
}

.center {
    margin-left: 367px;
}