h1 {
  font-size: 10mm;
  color: red;
  text-align: center;
  line-height: 30px;
  margin-bottom: 7px;
  font-family: Algerian;
}

#main{
 width: 100%;
 height: 10mm;
 position: relative;
}

nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
 position: absolute;
 width: 100%;
 box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
z-index: 1;
}

.menu{
 list-style: none;
 display: flex;
}

.menu li a {
  height: 2px;
  line-height: 1px;
  margin: 15px;
  padding: 0px 22px;
  display: flex;
  font-size: 5mm;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(16, 227, 235);
}

.menu li a:hover{
  background-color: #e610a5;
  color: rgb(199, 174, 30);
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
  transition: all ease 03s;
  }

.content h2{
 font-size: 7mm;
 color: rgb(247, 252, 0);
 text-align: center;
 font-family: Castellar;
 margin-bottom: 40px;
 margin-top: 30px;
}

.content h3{
 font-size: 7mm;
 color: rgb(247, 252, 0);
 text-align: center;
font-family: Castellar;
margin-top: 70px;
margin-bottom: 40px;
}

.content h4{
 font-size: 7mm;
 color: rgb(247, 252, 0);
 text-align: center;
font-family: Castellar;
margin-top: 70px;
margin-bottom: 40px;
}

.content h5{
 font-size: 7mm;
 color: rgb(247, 252, 0);
 text-align: center;
font-family: Castellar;
margin-bottom: 40px;
}

.footer h6{
 font-size: 7mm;
 color: rgb(247, 252, 0);
 text-align: center;
font-family: Castellar;
margin-bottom: 40px;
}

.content p{
 font-size: 5mm;
 color: rgba(184, 101, 24, 0.842);
 text-align: left;
 margin:20mm;
 margin-top: 10px;
 margin-bottom: 10px;
}

.content img{
  width: 10%;
  border-radius: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 20px;
  float:right; 
  padding:10px;
}

.content {
  font-family: cursive;
  text-align: right;
  align-items: right;
}

.footer{
 margin-top: 50px;
}

.social i{
margin-left: 60mm;
color: rgb(240, 11, 11);
font-size: 4em;
letter-spacing: 100px;
}

.social a{
 font-size: 4mm;
}

.social i:hover{
  color: rgb(8, 253, 8);
  transition: 0.5s;
}

*#click {
  font-size: larger;
  border-radius: 0.5cm;
  border-style: groove;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.theme-light {
  background-image: url(dkbg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.theme-dark{
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button{
  color: palevioletred;
  background: rgb(186, 224, 115);
  padding: 10px 20px;
  border: 1;
  border-radius: 5px;
  font-size: larger;
  font-style: oblique;
  border-style: groove;
}