body{
    margin: 0;
    padding: 0;
    background: url(xavier.jpg) no-repeat;
    background-size:cover;
}
.square{
    width: 550px;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    text-align:center;
    margin:auto;
    margin-top:5%;
    color:white;
    font-family:garamond, sans-serif;
}
.square img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
 .square h5{
     font-size:25px;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: left;
    }
.square p{
    text-align:justify;
}
.square ul{
 text-align:justify;
}
.square li{
    list-style: none;
}
.square li:before
{
    content:"\27BE" ;
}

