h1{font-size:60px;}
    h2{font-size:40px;
        font-family:monospace;}
    p{font-size:35px;   }
    .small-image{
        width: 400px;
    }
    .border{
        border-color: grey;
        border-width: 7px;
        border-style: solid;
        border-radius:7px;
        margin: 300px
    }
    .background{
        background-color: yellow;
    }
    .textr{
        text-align: right;
    }
    .textl{
        text-align: left;
    }
    .textc{
        text-align: center;
        
    }
    .imge{ width: 300px;    }
    .dis{display:flex;
    padding-right: 20px;
    padding-left:100px;}
    .size{
        font-size:20px;
    }