body
{
   background-color:white;
   border-style:ridge ;
   border:orangered;
   border-width:thick;
   margin-top: 0px;
   margin-right:215px;
   margin-left: 215px;
} 
p
{
   color:#00ff00;
   text-align: center;
   font-size: large;
   font-family:cursive;
}
img
{
   float:center; 
   padding:2px;
   border:whitesmoke;
   border-width: 3px; 
}
h2
{
   text-align: left;
   color:orange;
   font-size:large;
   
}
ul
{
   list-style-type: circle;
   list-style-position:inside; 
   color:#00ff00;
   font-size: large;
   font-family: cursive;
   
}
li
{
   text-align: center;
   padding-left: 0;
}
.div1
{
   background-color: rgb(71, 12, 12);
   font-size: x-large;
   padding-top:20px;
   padding-left:80px;
   padding-right:80px;
   padding-bottom:15px;
   text-align: center;
}
.div2
{
   font-weight: bold;
   font-size: larger;
   color:yellowgreen;
   text-align: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div3
{
   background-color:rgb(71, 12, 12);
   padding:8px;
}
.div4
{
   background-image: url('bg_img.jpg');
   filter:opacity(10px);
   border:blanchedalmond;
   border-width: medium;
   border-radius: 20px;
   padding-left:30px;
   padding-right:30px;
   padding-top:10px;
   padding-bottom:10px;
}
.div5 
{
   background-color: rgb(71, 12, 12);
   color:gold;
   padding-top: 12px;
   font-size: small;
   font-weight: bold;
}
a
{
   color:rgb(165, 143, 143);
}