*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
}
header{
    padding-top: 75px;
    height: 50px;
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    position: static;
    color: rgb(238, 42, 42);
    text-decoration: underline overline;
}
.first{
    background-color: white;
    width: 80%;
    margin: 8%;
    margin-top: 4%;
    padding: 1%;
    position: static;
    border: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    text-emphasis-position: inherit;
    text-align: center;
}
img.type1{
    width: 150px;
    position: static;
    text-align: left;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
img.type2{
    width: 650px;
    position: static;
    text-align: left;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    border: 2px solid black;
}
.container1{
    width: 32%;
    padding-left: 52px;
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    position: static;
    size: 50px;
    text-align: left;
}
.container2{
    padding-top: 22px;
    margin-bottom: 52px;
    font-size:large;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: double underline;
    color: rgb(163, 81, 81);
}
.space{
    text-align: center;
    padding-top: 32px;
    margin-bottom: 52px;
    font-size:large;
    
}
.container3{
    padding-left: 52px;
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: static;
    size: 50px;
    text-align: left;
}
.second{
    text-align: left;
    padding: 4%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style-type: lower-roman;
}
footer{
    text-align: center;
}
.container4{
    padding-top: 52px;
    margin-bottom: 22px;
    font-size:large;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: double underline;
    color: rgb(81, 163, 122);
}
.last{
    margin-bottom: 5%;
    margin-top: 0%;
}
.third{
    background-color: white;
    margin-top: 4%;
    padding: 1%;
    position: static;
    border: 5px;
    text-emphasis-position: inherit;
    text-align: center;
}
.click{
    text-align: center ;
}
.button{
    width: 160px;
    height: 75px;
    background-color: white;
    border: 5px outset;
    font-size: large;
    font-family: 'califonia-fb';
    font-style: bold;
    cursor: pointer;
}
.button:hover {background-color: grey;
border: 5px outset grey;}

.button:active {
  transform: translateY(4px);
}
