.i1 
{
    float: right;
    width: 20%;
    
}
.i2
{
    float: left;
    width: 300px;   
}
.i3
{
    float: right;
    width: 300px;
    
}
.i4
{
        float: left;
        width: 300px;
}
.b1 
{
    background-color: rgba(255, 251, 251, 0.918);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    max-width: 100%;
  }
.b1 
{
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.308);  
}
body 
{
    background-image: url(p2.jpg);
    background-size: cover;
}
.b1
{
    border-width: 2px;
    border-radius: 20px;
    margin: 30px 150px 30px 150px;
    padding-top: 50px; 
    padding-right: 70px; 
    padding-bottom: 70px; 
    padding-left: 70px;
}
.p1
{
    text-align: left;
    
}
.p2
{
    text-align: right;
    margin: 20px 27px 0px 100px;
}