@font-face {
    font-family: "MetalMania";
    src: url("Fonts/MetalMania-Regular.ttf"); 
}
body{
    margin: 0;
    background-image: url('image2.jpg');
    background-size: cover;
    transition: 0.3s;
    
}
hr{
    margin: 0;
    padding: 0;
}

.heading{
    font-family:'MetalMania';
    font-weight: bolder;
    font-size: 4.3em;
    width: 100%;
    text-align: center;
    margin:0;
    padding:2px;
    color:rgb(255, 255, 255);
    
}
p{
    color: rgb(16, 230, 105);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 3px;
}
li{
    color: chartreuse;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    
}
p a{
    color: chartreuse;
}
h1{
    color: coral;
    font-family: "MetalMania";
    font-size: 30px;
    padding-left: 2px;
    font-weight: bolder;
}
footer h2{
    color: darkgoldenrod;
    size: 20px;
    display: block;
}
.footer a img{
    border-radius: 50%;
}
.footer a img:hover{
    transform: scale(1.5);
    transition: 0.2s;
}
#main{
    margin: 5% 5% 5% 5%;
    color: darkgrey;
    background-image: url('image.jpg');
    background-size: cover; 
}
button{
    background-color: rgb(9, 73, 41);
    border-radius: 20%;
}
.button{
    text-align: center;
}
button p{
    color: rgb(245, 245, 238);
    font: optional;
    font-family: "MetalMania";
    font-style:oblique;
    font-weight: lighter;

}
button:hover{
    background-color: rgb(6, 43, 6);
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.3s;
}
.body{
    background-image: url('image3.jpg');
    background-size: cover;
}
